@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');


.navbar_content {
    position: absolute;
    top: 22.5%;
    height: 50px;
    width: 100%;
    background-color: #E5E2DB;
    
}

.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;

}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
} 

ul li {
    list-style: none;
    font-size: 15px;
    font-family: poppins;
    font-weight: 500;
    cursor: pointer;

}

.navbar i {
    font-size: 1.6rem;
    cursor: pointer;
}

.banner_img img {
    width: 100%;
}

.lower_bar {
    height: 70px;
    width: 100%;
}

.bar {
    height: 100%;
    width: 100%;
    background-color: #FBAC1B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower_bar .text {
    font-size: 23px;
    font-weight: 500;
    font-family: poppins;
}

.lower_bar .lines {
    width: 110%;
    font-size: 16px;
    font-weight: 500;
}

.middle_content {
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: start;
}

.middle_content .text_1 {
    width: 30%;

}

.middle_content .text_2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;

}
 
.text_2 ul {
    display: flex;
    text-align: left;
    flex-direction: column;
    
}

.text_2 ul li {
    text-align: left;
    list-style: disc;

}

.middle_content .card {
    width: 30%;
}